/* BODY BACKGROUND IMAGE */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("im5.jpg") no-repeat center center/cover;
    font-family: Arial, sans-serif;
    animation: animateBg 5s linear infinite;
}


/* GLASS LOGIN CONTAINER */

.login-container {
    width: 380px;
    padding: 40px;
    border-radius: 15px;
    background: rgba(58, 58, 58, 0.08);
    /* transparent */
    backdrop-filter: blur(15px);
    /* glass blur */
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0);
}


/* TITLE CENTER */

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
    letter-spacing: 1px;
}


/* INPUT STYLE */

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    color: rgb(7, 6, 6);
    outline: none;
    font-size: 15px;
}


/* PLACEHOLDER COLOR */

input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}


/* FORGOT PASSWORD LEFT */

.forgot {
    text-align: left;
    margin-bottom: 20px;
}

.forgot a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}


/* HOVER / CLICK BLUE */

.forgot a:hover,
.forgot a:active {
    color: #0206ff;
}


/* LOGIN BUTTON */

.login-btn {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: rgb(85, 84, 84);
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #000000;
    color: rgb(70, 33, 235);
}


/* REGISTER TEXT */

.register {
    margin-top: 20px;
    text-align: left;
}

.register a {
    color: rgb(2, 1, 1);
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    color: #0400f0;
}