/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("im2.jpg") no-repeat center center/cover;
}


/* Register Box */

.register-box {
    position: relative;
    width: 450px;
    padding: 40px;
    background: rgba(46, 45, 45, 0.85);
    /* transparent */
    backdrop-filter: blur(3px);
    /* glass blur */
    -webkit-backdrop-filter: blur(15px);
    border: 3px solid #585858;
    border-radius: 50px;
    box-shadow: 0 0 50px #9a9b9b;
}

.register-box h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #dee2e2;
}


/* Input fields */

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box label {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid #070707;
    border-radius: 5px;
    color: #f8f8f8;
    outline: none;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #363535;
    box-shadow: 0 0 15px #f3f3f3;
}


/* Button */

button {
    width: 100%;
    padding: 12px;
    background: #000000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid #eaeaeb;
}

button:hover {
    background: #4b4b4e;
    color: #ffffff;
    box-shadow: 0 0 20px #3e404d;
}


/* Links */

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

.login-link a:hover {
    color: #3700ff;
    text-shadow: 0 0 10px #00b7ff;
}


/* Social Login Section */

.social-login {
    text-align: center;
    margin-top: 25px;
}

.social-login h3 {
    color: #000000;
    margin-bottom: 10px;
}

.social-login button {
    margin: 10px;
    width: auto;
    padding: 10px 20px;
    border: 2px solid #eaeaeb;
    border-radius: 50px;
}