body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #080808;
    color: #fff;
}

.center-text {
    text-align: center;
}

.slideshow-container {
    animation: slideOutLeftToRight 0.8s forwards;
}

@keyframes slideOutLeftToRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.slides-s {
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: none;
    width: 100%;
}


/*optional: fade effecect*/

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #050505;
}

header img {
    height: 50px;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.video {
    width: 100%;
    height: 400px;
}

.social {
    text-align: center;
    margin: 20px;
}

.social a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}

.social a {
    font-size: 20px;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.social a:hover {
    color: rgb(83, 117, 114);
    /* hover effect */
}

.login {
    text-align: center;
    margin: 40px;
}

.login button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
}